     .grid-gallery {
  display: grid;
  grid-auto-rows: 200px;
  grid-gap: 1rem;
  grid-auto-flow: row dense;
}

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

.grid-gallery__item:nth-child(11n+1) {
  grid-column: span 1;
  border-radius: 5px;
  border: 2px #5f5082 solid;
  position: relative;
}

.grid-gallery__item:nth-child(11n+3) {
  grid-column: span 1;
  grid-row: span 2;
  border-radius: 5px;
  border: 2px #5f5082 solid;
  position: relative;
}

.grid-gallery__item:nth-child(11n+2) {
  grid-column: span 3;
  grid-row: span 1;
  border-radius: 5px;
  border: 2px #5f5082 solid;
  position: relative;
}

.grid-gallery__item:nth-child(11n+4) {
  grid-column: span 1;
  grid-row: span 2;
  border-radius: 5px;
  border: 2px #5f5082 solid;
  position: relative;
}

.grid-gallery__item:nth-child(11n+6) {
  grid-column: span 1;
  border-radius: 5px;
  border: 2px #5f5082 solid;
  position: relative;
}

.grid-gallery__item:nth-child(11n+5) {
  grid-column: span 1;
  border-radius: 5px;
  border: 2px #5f5082 solid;
  position: relative;
}

.grid-gallery__item:nth-child(11n+7) {
  grid-column: span 2;
  grid-row: span 2;
  border-radius: 5px;
  border: 2px #5f5082 solid;
  position: relative;
}

.grid-gallery__item:nth-child(11n+8) {
  grid-column: span 1;
  border-radius: 5px;
  border: 2px #5f5082 solid;
  position: relative;
}

.grid-gallery__item:nth-child(11n+10) {
  grid-column: span 2;
  grid-row: span 1;
  border-radius: 5px;
  border: 2px #5f5082 solid;
  position: relative;
}

.grid-gallery__item:nth-child(11n+9) {
  grid-column: span 2;
  grid-row: span 1;
  border-radius: 5px;
  border: 2px #5f5082 solid;
  position: relative;
}

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  opacity: 1;
  filter: brightness(85%);
}

.grid-gallery__image:hover{
  width: 100%;
  height: 100%;
  opacity: 0;
}

.color-inlakesh{
  margin-top: 20px;
  margin-left: 10px;
  position: absolute;
  font-size: 25px;
}

.color-inlakesh:hover{
  font-size: 25px;
}