
@font-face{
	font-family: Waldorfschrift Regular;
	font-style: normal;
	font-weight: normal;
	src:url(../fonts/waldorf/Waldorf1.ttf);
}
.fuente-waldorf{
	font-family: Waldorfschrift Regular, Arial, sans-serif;
}


.fondo-lila{
  background-color: #ac9db5 !important;
}
.fondo-amarillo{
  background-color: #fffddd;
}
.fondo-gris{
  background-color: #f7f7f7;
}
.fondo-morado{
  background-color: #634e85 !important;
}


.texto-gris{
  color: #504c4c !important;
}
.texto-amarillo{
  color: #fffddd !important;
}
.texto-gris-oscuro{
  color: #423233;
}

#fondo-gris{
    min-height: calc(100% - 10px);
    margin-top: 0px;
    padding-left: 240px;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    -moz-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mi-footer{
  overflow: hidden;
  align-items: center;
  padding: 0px 0px;
}
#footer1 {
   position:fixed;
   left:0px;
   bottom:0px;
   height:45px;
   width:100%;
   font-size: 11px;
}


.brand-sidebar{
  position: fixed;
    left: 0;
    width: 240px;
    top: -10px;
    z-index: 9;
    box-shadow: none;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    -moz-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.brand-sidebar .logo-wrapper a.navbar-toggler i{
  color: #ffffff;
}


.dropdown-content li > a, .dropdown-content li > span{
  color: #504c4c !important;
}

.btn, .btn-large{
  background-color: #ac9db5 !important;
  color: #fffddd;
}

blockquote{
  border-left: 5px solid #ac9db5;
}


.color-inlakesh{
	color: #5f5082;
	font-family: Waldorfschrift Regular, Arial, sans-serif;
}
.color-inlakesh-2{
  color: #745656;
}
.color-inlakesh-3{
  color: #fde5a5;
}

.mes{
  background-color: rgba(0,0,0,0);
  border-top: none;
  border-left: none;
  border-right: none;
}
.fondo-naranja{
	background-color: #fde5a5;
}
.border-bottom-2{
  border: solid 2px #5f5082;
}
.round{
	border-radius: 5px;
}
.flotleft{
  float: left;
}
.flotright{
  float: right;;
}
.ml-15{
  margin-left: 15%;
}
@media (max-width: 1500px){
  .agrega_mas{
    margin-left: -205px;
    text-align: start;
  }
}
@media (max-width: 1024px){
  .agrega_mas{
    margin-left: -140px;
    text-align: start;
  }
}
@media (max-width: 823px){
  .agrega_mas{
    margin-left: -150px;
    text-align: start;
  }
}
@media (max-width: 812px){
  .agrega_mas{
    margin-left: -145px;
    text-align: start;
  }
}
@media (max-width: 768px){
  .agrega_mas{
    margin-left: -135px;
    text-align: start;
  }
}
@media (max-width: 736px){
  .agrega_mas{
    margin-left: -130px;
    text-align: start;
  }
}
@media (max-width: 667px){
  .agrega_mas{
    margin-left: -315px;
    text-align: start;
  }
}
@media (max-width: 640px){
  .agrega_mas{
    margin-left: -305px;
    text-align: start;
  }
}
@media (max-width: 568px){
  .agrega_mas{
    margin-left: -275px;
    text-align: start;
  }
}
@media (max-width: 414px){
  .agrega_mas{
    margin-left: -200px;
    text-align: start;
  }
}
@media (max-width: 411px){
  .agrega_mas{
    margin-left: -195px;
    text-align: start;
  }
}
@media (max-width: 375px){
  .agrega_mas{
    margin-left: -180px;
    text-align: start;
  }
}
@media (max-width: 360px){
  .agrega_mas{
    margin-left: -170px;
    text-align: start;
  }
}
@media (max-width: 320px){
  .agrega_mas{
    margin-left: -150px;
    text-align: start;
  }
}
.mtn-50{
  margin-top: -50px;
}
.mtn-51{
  margin-top: -51px;
}
.mtn-30{
  margin-top: -30px;
}
.decoracion{
	text-decoration: none;
}
#fondo-main{
    background: url(../../../images/background/fondo_9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin-top: 0px;
    min-height: calc(100%);
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    -moz-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
@media (max-width: 768px){
  .navega768{
    height: 75px;
  }
  #footer1 {
   position:fixed;
   left:0px;
   bottom:0px;
   height:45px;
   width:100%;
   font-size: 12px;
}
}
@media (max-width: 731px){
  #footer1 {
   position:fixed;
   left:0px;
   bottom:0px;
   height:45px;
   width:100%;
   font-size: 12px;
   text-align: center;
}
}
@media (max-width: 667px){
  #footer1 {
   position:fixed;
   left:0px;
   bottom:0px;
   height:45px;
   width:100%;
   font-size: 9px;
   text-align: center;
}
}
.formulario{
  right: auto;
    left: auto;
    width: 100%;
}
.login-form{
  width: 70%;
    padding-left: 30%;
    padding-bottom: 15%;
}
@media (max-width: 667px){
  .login-form{
      width: 100%;
      padding-left: 0%;
      padding-bottom: 0%;
  }
}
.horizontal-scroll-contenedor{
  overflow-y: hidden; 
  overflow-x: auto;
}


body {
	font-family: Waldorfschrift Regular, Arial, sans-serif;
}
#columns {
    column-width: 320px;
    column-gap: 15px;
  	width: 90%;
  	max-width: 1100px;
  	margin: 50px auto;
}
div#columns figure {
 	background: #fefefe;
 	border: 2px solid #fcfcfc;
 	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
 	margin: 0 2px 15px;
 	padding: 15px;
 	padding-bottom: 10px;
 	transition: opacity .4s ease-in-out;
 	display: inline-block;
 	column-break-inside: avoid;
}
div#columns figure img {
    width: 100%; height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
div#columns figure figcaption {
    font-size: .9rem;
    line-height: 1.5;
}
div#columns small { 
  	font-size: 1rem;
  	float: right; 
  	text-transform: uppercase;
  	color: #aaa;
}
div#columns small a { 
  	color: #666; 
  	text-decoration: none; 
  	transition: .4s color;
}
div#columns:hover figure:not(:hover) {
    opacity: 0.4;
}
@media screen and (max-width: 750px) { 
  	#columns { column-gap: 0px; }
  	#columns figure { width: 100%; }
}






#columns_vista {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}
div#columns_vista figure {
  margin: 0 2px 15px;
  display: inline-block;
  column-break-inside: avoid;
}
div#columns_vista figure img {
    width: 100%; height: auto;
}
.mr-20{
  margin-right: 20%;
}

.galeria_inlakesh{
  max-width: 1100px;
}
.num_galeria{
  float: left;
  max-width: 320px;
  display: block;
  margin: 0px 20px;
}
.num_galeria > a{
  text-decoration: none;
}
.num_galeria figure {
  width: 320px;
  background-color: #ffffff;
}


.num_galeria figure img {
  width: 290px;
  /*height: 160px;*/
  margin-left: 15px;
  object-fit: cover;
}

.num_galeria figure h5 {
  width: 290px;
  padding-top: 15px;
  margin-left: 15px;
}
.num_galeria figure figcaption {
  width: 290px;
  margin-left: 15px;
}

.num_galeria figure > figcaption:hover {
  color: #745656;
}
#dropdown1 > li > a:hover,
.bold >a:hover{
  text-decoration: none;
}
.centra{
  text-align: center;
}
.bootstrap-select>.dropdown-toggle{
  width: 160%;
}
.info-personal{
  background-color: rgba(255,230,0,0.08);
}
.text_red{
  color: red;
}
.mln-45{
  margin-left: -148px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
  margin-left: -100px;
}
.nuevo{
  background-color: #ffffff;
}






